/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#calculator {
  position: fixed;
  min-width: 25%;
  
  text-align: center;
  margin: 0px auto;
  margin-top: 30px;
  margin-left: 35%;

  padding: 4px;
  padding: 10px;

  background: #000;
}

#screen {
  position: relative;
  height: 40px;
  margin: 10px;
  padding: 4px;

  background: #FFF;
  font-family: "Arial Black", Gadget, sans-serif;
}

#output {
  float: right;
}

#memory_marker {
  float: left;
}

.btn {
  margin: 3px;
  min-width: 60px;
}

.btn-primary.focus, .btn-primary:focus {
  border: 1px white solid;
}

#plus_minus {
  float: left;
  margin-left: 20px;
}
